<h1> List of users </h1>

<hr>
  <div>
    <div>
      <table border="1">
        <tr>
          <th>
            Username
          </th>

          <th>
            Private?
          </th>

          <th></th>
          <th></th>
        </tr>

        <% @list_of_users.each do |a_user| %>
        <tr>
          <td>
            <%= a_user.username %>
          </td>

          <td>
            <% if a_user.private == false %>
              No
            <% else %>
              Yes
            <% end %>
          </td>


          <% if @current_user != nil %>
            <% if FollowRequest.where({ :sender_id => @current_user.id, :recipient_id => a_user.id }).at(0) == nil %>
              <td>
                <form action="/follow" method="post">
                  <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
                  <button>
                    Follow
                  </button>
                </form>
              </td>
            <% elsif FollowRequest.where({ :sender_id => @current_user.id, :recipient_id => a_user.id}).at(0).status == "pending" %>
              <td>
                Request sent.
                <a href="/unfollow">
                  Cancel
                </a>
              </td>

            <% elsif FollowRequest.where({ :sender_id => @current_user.id, :recipient_id => a_user.id}).at(0).status == "accepted" %>
              <td>
                <a href="/unfollow">
                  Unfollow
                </a>
              </td>
            <% end %>
          <% end %>

          <td>
            <a href="/users/<%= a_user.username %>">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</hr> 
